<%- include ('partials/_header') %>

    <body class="container">
        <div class="title-wrapper">
            <h1>Good Morning!🌄</h1>
            <p> What would you link to do?</p>
        </div>
        <div>
            <a href="/login_page/clockin">
                <div class="login-button">
                    <p>Clock In</p>
                </div>
            </a>
            <a href="/login_page/clockout">
                <div class="login-button warning">
                    <p>Clock Out</p>
                </div>
            </a>
            <a class="mt-6" href="/admin_home">login as an admin</a>
        </div>
    </body>

    <%- include ('partials/_footer') %>